{% extends "base.html.twig" %}

{% block body %}

    <h1>Bienvenue sur mon blog</h1>


    <a href="{{ path('blog_article_show', { 'slug': "javascript-vs-php" }) }}">
        Testing article_show() method from BlogController with a real article s slug.
    </a>
    <br>
    <a href="{{ path('blog_article_list') }}">
        Testing article_list() method from BlogController to view all articles.
    </a>
    <br>
    <a href="{{ path('category_show', {'name': "javascript"}) }}">
        Testing category_show() method from BlogController to view articles from a category.
    </a>
    <br>
    <a href="{{ path('category_add') }}">
        Testing category_add() method from BlogController to view articles from a category.
    </a>


{% endblock %}

